/node_modules
/public/hot
/public/storage/*
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.env
/public/assets/stem/egovernance/*
/public/assets/stem/documents/*
/public/assets/stem/favicon/*
/public/assets/stem/footer/*
/public/assets/stem/gallery/*
/public/assets/stem/header_logo/*
/public/assets/stem/history/*
/public/assets/stem/intro/*
/public/assets/stem/leadership/*
/public/assets/stem/logo/*
/public/assets/stem/members/*
/public/assets/stem/news/*
/public/assets/stem/partners/*
/public/assets/stem/sliders/*
/public/assets/stem/tenders/*
composer.lock
public/assets/front/img/*
public/assets/lfm/*
public/assets/stem_old/*
